<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xml:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/bootstrap/docs/favicon.ico">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">
    <title>메인화면</title>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Cover</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li th:if="${#authorization.expr('isAuthenticated()')}">
                                <a href="/logout" th:href="@{/logout}">로그아웃</a>
                            </li>
                            <li th:unless="${#authorization.expr('isAuthenticated()')}">
                                <a href="/logout" th:href="@{/login}">로그인</a>
                            </li>
                            <li th:if="${#authorization.expr('!isAuthenticated()')}">
                                <a href="/signup" th:href="@{/signup}">회원가입</a>
                            </li>
                            <li>
                                <a href="/user" th:href="@{/user}">유저페이지</a>
                            </li>
                            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                <a href="/admin" th:href="@{/admin}">관리자</a>
                            </li>
                            <li>
                                <a href="/dashboard" th:href="@{/paypal}">결제</a>
                            </li>
<!--
                            <li>
                                <a href="/dashboard" th:href="@{/dashboard}">게시판</a>
                            </li>
-->
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading" th:text="${message}">Hello</h1>
                <br>
                <p class="lead">현재 페이지는 아직 제작중인 페이지입니다.</p>
<!--                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">Learn more</a>
                </p>-->
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a
                            href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>
