<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/bootstrap/docs/favicon.ico">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">

    <title>Login</title>
</head>
<body>
<div class="container">

    <form class="form-signin" action="/login" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">로그인</h2>
        <div th:if="${param.error}">
            아이디 또는 비밀번호가 틀렸습니다.
        </div>
        <label for="userId" class="sr-only">Email address</label>
        <input type="text" id="userId" name="userId" class="form-control" placeholder="아이디" required autofocus>
        <label for="userPw" class="sr-only">Password</label>
        <input type="password" id="userPw" name="userPw"  class="form-control" placeholder="비밀번호" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember-me" value="remember-me"> 로그인 유지
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
</body>
</html>
