<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/bootstrap/docs/favicon.ico">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<div class="container">

    <form class="form-signin" action="/signup" method="post" th:object="${userVO}" th:action="@{/signup}">
        <h2 class="form-signin-heading">회원 가입</h2>
        <input type="text" class="form-control" placeholder="아이디" th:field="*{userId}"  required autofocus>
        <input type="password" class="form-control" th:field="*{userPw}"  placeholder="비밀번호" required>
        <input type="text" class="form-control" th:field="*{userName}"  placeholder="이름" required>
        <input type="email" class="form-control" th:field="*{email}"  placeholder="email" required>
        <input type="text" class="form-control" th:field="*{phone}"  placeholder="전화번호" required>
        <br>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Sign UP</button>
    </form>

</div>
</body>
</html>