<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/bootstrap/docs/favicon.ico">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <title>pimang</title>
</head>
<body>
<div class="container">

    <form class="form-signin" action="/pimang/select" method="post" th:object="${stockEntity}" th:action="@{/pimang/select}">
        <h2 class="form-signin-heading">Select</h2>
        <input type="text" class="form-control" th:field="*{userId}"  placeholder="userId" >
        <input type="password" class="form-control" th:field="*{userPw}" placeholder="userPw" >
        <br>
        <button class="btn btn-lg btn-danger btn-block" type="submit">select</button>
    </form>

</div>
</body>
</html>